.files-view .expand-toggle {
	-fx-font-size:0.9em;
	-fx-border-color:lightgray;
	-fx-border-width:1;
	-fx-padding:2;
	-fx-text-fill:#20B2AA;
	-fx-font-width:bold;
}

#files-view-count {
	-fx-fill:yellowgreen;
}
#about-pane {
	-fx-background-color:white;
	-fx-padding:5;
}
#about-pane .grid * {
	-fx-text-size:0.8em;	
}
#about-pane .text-area{
	-fx-font-family:Consolas;
	-fx-border-color:null;
	-fx-border-width:0;
}

